<div class="container">
    <div class="page-bar">
        <h1 class="page-title">{{ data?.title }}</h1>
        <button class="btn btn-secondary" (click)="back()">Volver</button>
    </div>

    <div class="card" *ngIf="data; else loadingTpl">
        <div class="detail-grid">
            <div class="detail-row"><b>Solicitante:</b> {{ data.requesterUpn }}</div>
            <div class="detail-row"><b>Aprobador:</b> {{ data.approverUpn }}</div>
            <div class="detail-row">
                <b>Estado:</b>
                <span class="badge"
                    [ngClass]="{'pending': data.status==='PENDING','approved': data.status==='APPROVED','rejected': data.status==='REJECTED'}">
                    {{ data.status }}
                </span>
            </div>

            <div class="detail-actions" *ngIf="showActions">
                <input class="input" [(ngModel)]="comment" placeholder="Comentario">
                <button class="btn btn-primary" (click)="approve()">Aprobar</button>
                <button class="btn btn-danger" (click)="reject()">Rechazar</button>
            </div>
        </div>
    </div>

    <ng-template #loadingTpl>
        <div class="card">Cargando...</div>
    </ng-template>

    <div class="card" style="margin-top:16px;">
        <div class="card-head">
            <h3>Historial: {{ data?.title }} - {{ id }}</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Acción</th>
                    <th>Usuario Verificador</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let h of history">
                    <td>{{ h.when | date:'short' }}</td>
                    <td>
                        <span class="badge" [ngClass]="{
                            'approved': h.action === 'APPROVE',
                            'rejected': h.action === 'REJECT',
                            'pending':  h.action === 'CREATE' || h.action === 'COMMENT'
                          }">
                            {{ h.action }}
                        </span>

                    </td>
                    <td>{{ h.by }}</td>
                    <td>{{ h.comment }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>